@for (item of professores; track $index) {
  <li>
    {{$index+1}} - {{item}}
    <button (click)="remover($index)">Remover</button>
  </li>
}

<!-- @if (mostrar_tarefas) {
  @for (tarefa of lista_tarefas; track $index) {
    @if (mostrar_outro_botao) {
      @if(tarefa.concluida) {
        <li>{{tarefa.id}} - {{tarefa.nome}} - {{"Concluída"}}</li>
      }@else {
        <li>{{tarefa.id}} - {{tarefa.nome}}</li>
      }
    }
    @else if (tarefa.concluida) {
      <li>{{tarefa.id}} - {{tarefa.nome}} - {{"Concluída"}}</li>
    }
  }
}
@if (!mostrar_outro_botao) {
  <button (click)="exibir_tarefas()">Exibir tudo</button>
} @else {
  <button (click)="exibir_concluidas()">Exibir só concluídas</button>
} -->

<button (click)="onExibirTudo()">{{exibirTudo ? 'Mostrar apenas concluídas' : 'Mostrar todas as tarefas'}}</button>

@for(tarefa of lista_tarefas; track tarefa.id) {
  @if( exibirTudo || tarefa.concluida) {
    <p>{{tarefa.id}} - {{tarefa.nome}} <span>{{tarefa.concluida && !exibirTudo? '- Concluída' : ''}}</span></p>
  }
}

@if(!exibirTudo && getConcluidas().length == 0){
  <p>Não há tarefas concluídas</p>
}
